version: "3.9"
services:
  postgres:
    image: postgres:15
    container_name: postgres15
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypass
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
# docker compose -f docker-compose.postgres.yml up -d
